<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Home</title>
	<atom:link href="http://demo.nrgthemes.com/projects/mierawp/landing/home/feed/" rel="self" type="application/rss+xml" />
	<link>http://demo.nrgthemes.com/projects/mierawp/landing</link>
	<description>Just another MiEra Sites site</description>
	<lastBuildDate>Thu, 14 Mar 2013 18:30:33 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
</channel>
</rss>
